

<div id="chats" class="well row-fluid">

<div class="span2"></div>
<div class="span4">
<div class="brand">
welcome to wet chat
</div>


<div class="chat">
Rose: Jack you jump i jump!!
</div>

</div>
</div>

<div class="well navbar navbar-fixed-bottom">
  <div class="container  row-fluid">
    <form class="navbar-form pull-left span12">
      <input type="text" class="span4 offset2" placeholder="Enter your message" >
      <button  class="btn-success btn offset1"><i class="icon-envelope icon-white"></i> Submit</button>
    </form>
  </div>
</div>

